{% if settings.cart_enable_product_recommendations == true %}
    <div class="cart-drawer--upsells-wrapper">
        {% if settings.cart_product_recommendations_title != blank %}
            <h3 class="cart-drawer--recommendations-title">{{ settings.cart_product_recommendations_title }}</h3>
        {% endif %}
        {% for upsell in settings.cart_product_recommendations_list %}
            {% render 'product-card', product: upsell, layout: settings.cart_product_recommendation_card %}
        {% endfor %}
    </div>
{% endif %}

<script>
    // Define an array to store product data
    var cartProductData = [];

    {% for product in settings.cart_product_recommendations_list %}
        // Add each product's data to the array
            cartProductData.push({
            sectionId: document.querySelector('.cart-drawer--upsells-wrapper'),
            id: {{ product.id | json }},
            title: {{ product.title | json }},
            variants: {{ product.variants | json }}
            // Add other product data as needed
        });
    {% endfor %}
</script>

{% render 'product-form', cartProductData: cartProductData %}