<section>
  <h1>{{ page_title }}</h1>

  {% for collection in collections %}
    {{ collection.name }}
  {% endfor %}

  {% for item in cart.items %}
    {{ item.title }}
  {% endfor %}
</section>

{% schema %}
{
  "name": "Main"
}
{% endschema %}