<section>
    <h1>{{ page_title }}</h1>
</section>

{% for product in collections['drinks'].products %}
    <div class="product--card-wrapper">
        <h1>{{ product.title }}</h1>
        {% form, 'product', product %}
            <input id="product-id" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            
            <div class="product--add-wrapper">
                <button type="submit" class="button action primary">Add to Cart</button>
            </div>
        {% endform %}
    </div>
{% endfor %}

{% schema %}
{
  "name": "Main"
}
{% endschema %}