/* //
//
// Common Styles ------------------------------------------------------------- */
.accordion--title {
    text-transform: uppercase;
}

.accordion--trigger {
    align-items: center;
    border-top: 1px solid var(--color-body-border);
    display: flex;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: space-between;
    padding: calc(var(--base-padding) * 2) 0;
    transition: .2s;
}

.accordion--panel {
    overflow-y: scroll;
    transition: .5s ease-in-out;
}

.accordion--panel p {
    opacity: 0;
    padding-bottom: calc(var(--base-padding) * 2);
    transition: .5s ease-in-out;
    visibility: hidden;
}

.accordion--panel-open p {
    opacity: 1;
    visibility: visible;
}   

/* //
//
// Desktop Only Styles ------------------------------------------------------------- */
@media (min-width: 992px) {
    .accordion--inner-wrapper {
        align-items: flex-start;
        display: flex;
        gap: calc(var(--base-padding) * 2);
        padding: 0 calc(var(--base-padding) * 4);
        justify-content: center;
    }

    .accordion--title-wrapper {
        width: 55%;
    }

    .accordion--items {
        max-width: 480px;
        width: 40%;
    }
}