/* //
//
// Common Styles ------------------------------------------------------------- */
.store--cart-drawer {
    padding: 0;
}

.cart-drawer--title {
    font-weight: bold;
    text-transform: uppercase;
}

.cart-drawer--empty-content {
    font-weight: 600;
    margin-bottom: calc(var(--base-padding) * 4);
}

.cart-drawer--empty-wrapper .button.action {
    display: block;
    text-align: center;
}

.cart-drawer--item {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
}

.cart-drawer--item:not(:last-child) {
    border-bottom: 1px solid var(--color-body-border);
}

.cart-drawer--image-inner {
    aspect-ratio: 1/1;
    background-color: var(--color-body-background);
    border-radius: 5px;
    overflow: hidden;
    padding: calc(var(--base-padding) / 2);
}

.cart-drawer--image {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.cart-drawer--items-wrapper {
    margin-bottom: calc(var(--base-padding) * 4);
}

.cart-drawer--item:not(:last-child) {
    margin-bottom: calc(var(--base-padding) * 4);
    padding-bottom: calc(var(--base-padding) * 4);
}

.cart-drawer--image-wrapper {
    margin-right: var(--base-padding);
    width: calc(25% - (var(--base-padding) * 2));
}

.cart-drawer--item-content-wrapper {
    width: 75%;
}

.cart-drawer--item-title-wrapper {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var(--base-padding) * 2);
}

.cart-drawer--item-title {
    flex-grow: 1;
    padding-right: var(--base-padding);
    text-transform: uppercase;
}

.cart-drawer--item-price {
    font-weight: 500;
}

.cart-drawer--item-selection-wrapper {
    margin-bottom: var(--base-padding);
}

.cart-drawer--item-action-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cart-drawer--unit-price-wrapper {
    margin-bottom: calc(var(--base-padding) * 2);
}

/* Styles specific for the cart drawer quantity input  */
.cart-drawer--input-wrapper .product--quantity-adjust-btn {
    height: 30px;
    width: 30px;
}

.cart-drawer--input-wrapper .product--quantity-input {
    height: 40px;
    font-size: 1.2rem;
    width: 40px;
}

.cart-drawer--line-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cart-drawer--line-wrapper > * {
    width: 50%;
}

.cart-drawer--line-wrapper>*:last-child {
    text-align: right;
}

.cart-drawer--line-label  {
    font-weight: bold;
    text-transform: uppercase;
}

.cart-drawer--final-total-wrapper {
    margin-bottom: calc(var(--base-padding) * 2);
}

.cart-drawer--final-total-price {
    font-weight: bold;
}

.cart-drawer--final-total-label,
.cart-drawer--final-total-price {
    font-size: 1.4rem;
}

.cart-drawer--proceed-wrapper {
    bottom: 0;
    padding: calc(var(--base-padding) * 2) calc(var(--base-padding) * 2) calc(var(--base-padding) * 4) calc(var(--base-padding) * 2);
    position: sticky;
}

.cart-drawer--proceed-wrapper button[type=submit] {
    width: 100%;
}

.cart-drawer--totals-wrapper {
    padding: calc(var(--base-padding) * 4) calc(var(--base-padding) * 2) calc(var(--base-padding) * 2) calc(var(--base-padding) * 2);
    position: relative;
}

.cart-drawer--totals-wrapper .cart-drawer--line-wrapper:last-child {
    border-bottom: 1px solid var(--color-body-border);
    padding-bottom: calc(var(--base-padding) * 4);
}

.cart-drawer--upsells-wrapper {
    background-color: var(--color-body-background);
}

.cart-drawer--upsells-wrapper .product-card--wrapper {
    margin-bottom: calc(var(--base-padding) * 1.5);
}

.cart-drawer--recommendations-title {
    margin-bottom: var(--base-padding);
    text-transform: uppercase;
}

/* //
//
// Mobile Only Styles ------------------------------------------------------------- */
@media (max-width: 540px) {
    .cart-drawer--title-wrapper {
        padding: 0 calc(var(--base-padding) * 2);
    }

    .cart-drawer--items-wrapper {
        padding: 0 calc(var(--base-padding) * 2);
    }

    .cart-drawer--upsells-wrapper {
        padding: calc(var(--base-padding) * 4) calc(var(--base-padding) * 2);
    }
} 

/* //
//
// Desktop Only Styles ------------------------------------------------------------- */
@media (min-width: 540px) {
    .cart-drawer--title-wrapper {
        padding: 0 calc(var(--base-padding) * 4);
    }

    .cart-drawer--items-wrapper {
        padding: 0 calc(var(--base-padding) * 4);
    }

    .cart-drawer--upsells-wrapper {
        padding: calc(var(--base-padding) * 4);
    }
}