/* //
//
// Common Styles ------------------------------------------------------------- */
.collection--title {
    text-transform: uppercase;
}

.collection--product-filter-trigger-wrapper button {
    align-items: center;
    border: 1px solid var(--color-body-text);
    display: flex;
    font-weight: 600;
    justify-content: flex-start;
}

.collection--product-filter-trigger-wrapper button svg {
    margin-right: calc(var(--base-padding) / 2);
    width: 15px;
}

.filter-group-summary {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.filter-group-title-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.filter-group-title {
    text-transform: uppercase;
}

.filter-group-summary .button div {
    display: none;
}
 
.filter-group-summary .button div.show {
    display: block;
}

.filter-group-display__list {
    margin: 0;
    padding: 0;
}

.filter-group-display__list-item,
.filter-group-display__list-item label {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.filter-group-display__list-item input {
    margin: 0 var(--base-padding) 0 0;
}

.filter-group-display__submit .button.action {
    width: 100%;
}

.filter-group-summary {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.filter-group-title-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.filter-group-title {
    text-transform: uppercase;
}

.filter-group-summary .button div {
    display: none;
}
 
.filter-group-summary .button div.show {
    display: block;
}

.filter-group-display__list {
    margin: 0;
    padding: 0;
}

.collection--active-filters-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.active-filters__remove-filter .active-filter--remove-icon {
    align-items: center;
    background-color: var(--tertiary-btn-background-color);
    border: 1px solid var(--color-body-background);
    border-radius: 100px;
    color: var(--color-body-background);
    display: flex;
    font-size: 8px;
    height: 15px;
    justify-content: center;
    line-height: 15px;
    margin-left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    width: 15px;
}

.collection--products-wrapper {
    background-color: var(--color-body-background);
}

/* //
//
// Mobile Styles ------------------------------------------------------------- */
@media (max-width: 540px) {
    .collection--title-wrapper {
        margin-bottom: calc(var(--base-padding) * 2);
        padding: 0 calc(var(--base-padding) * 2);
    }

    .collection--product-filter-trigger-wrapper button {
        background-color: transparent;
        padding: var(--base-padding) calc(var(--base-padding) * 1.5);
    }

    .collection--product-filtering-sort-wrapper {
        margin-bottom: calc(var(--base-padding) * 2);
        padding: 0 calc(var(--base-padding) * 2);
    }

    .collection--filter-form-group-wrapper {
        flex-grow: 1;
        width: 100%;
    }

    .filter-group-summary {
        margin-bottom: calc(var(--base-padding) * 3);
    }

    .filter-group-title {
        margin-right: var(--base-padding);
    }

    .filter-group .button {
        min-height: 29px;
        padding: calc(var(--base-padding) * .2) calc(var(--base-padding) * 1.5);
    }

    .filter-group-display {
        margin: calc(var(--base-padding) * 2) 0 calc(var(--base-padding) * 4) 0;
        max-height: 250px;
        overflow-y: scroll;
    }

    .filter-group-display__list-item:not(:last-child) {
        margin-bottom: var(--base-padding);
    }

    .filter-group-display__list-item input {
        height: 20px;
        width: 20px;
    }

    .filter-group-display__submit {
        bottom: 0;
        padding: calc(var(--base-padding) * 4) 0;
        position: sticky;
        width: 100%;
    }

    .collection--active-filters-wrapper {
        gap: var(--base-padding);
        margin-top: calc(var(--base-padding) * 2);
    }

    .filter-group-summary {
        margin-bottom: calc(var(--base-padding) * 3);
    }

    .filter-group-title {
        margin-right: var(--base-padding);
    }

    .filter-group .button {
        min-height: 29px;
        padding: calc(var(--base-padding) * .2) calc(var(--base-padding) * 1.5);
    }

    .filter-group-display {
        margin: calc(var(--base-padding) * 2) 0 calc(var(--base-padding) * 4) 0;
        max-height: 250px;
        overflow-y: scroll;
    }

    .filter-group-display__list-item:not(:last-child) {
        margin-bottom: var(--base-padding);
    }

    .collection--active-filters-wrapper {
        gap: var(--base-padding);
        margin-top: calc(var(--base-padding) * 2);
    }

    .collection--products-wrapper {
        padding: calc(var(--base-padding) * 4) calc(var(--base-padding) * 2);
    }

    .collection--product-count {
        margin-bottom: calc(var(--base-padding) * 2);
    }
}

/* //
//
// Desktop Styles ------------------------------------------------------------- */