/* //
//
// Common Styles ------------------------------------------------------------- */
#shopify-section-header {
    position: relative;
    z-index: 10;
}

#shopify-section-header.store--header-overlay {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.store--header-overlay .header--logo {
    display: none;
}

.header--inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header--logo-wrapper {
    display: inline-block;
}

.header--overlay-logo {
    display: none;
}

.header--navigation-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.header--menu-inner-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header--menu-promotion-wrapper {
    align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    gap: var(--base-padding);
    justify-content: center;
    overflow: hidden;
    padding: calc(var(--base-padding) * 4) calc(var(--base-padding) * 2);
}

.header--menu-promotion-content-wrapper {
    flex-grow: 1;
}

.header--menu-promotion-title {
    font-weight: 600;
    text-transform: uppercase;
}

.header--menu-promotion-title {
    font-size: 1.2rem;
}

.header--menu-item-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header--menu-items {
    flex-grow: 1;
    margin-top: calc(var(--base-padding) * 4);
    width: 100%;
}

.header--menu-item {
    transition: .2s;
}

.header--menu-item:not(:last-child) {
    padding-bottom: calc(var(--base-padding) * 3);
}

.header--menu-item-title {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.header--childmenu-title {
    text-decoration: underline;
}

.header--childmenu-title,
.header--grandchildmenu-title {
    font-size: 1.1rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header--second-menu-items {
    width: 100%;
}

.header--second-menu-item-title {
    font-size: 1.1rem;
}

.header--second-menu-item:not(:last-child) {
    margin-bottom: var(--base-padding);
}

/* //
//
// Mobile Only Styles ------------------------------------------------------------- */
@media (max-width: 540px) {
    .store--header-overlay .header--overlay-logo.hide-on-desktop {
        display: block;
    }

    .store--header-overlay .header--overlay-logo.hide-on-mobile {
        display: none;
    }

    .header--inner {
        padding: 0 calc(var(--base-padding) * 2);
    }

    .header--navigation-wrapper {
        gap: var(--base-padding);
    }

    .header--menu-promotion-wrapper {
        width: calc(100% - (var(--base-padding) * 4));
    }

    .header--second-menu-items {
        margin: calc(var(--base-padding) * 4) 0;
    }
}

/* //
//
// Desktop and Tablet Only Styles ------------------------------------------------------------- */
@media (min-width: 540px) {
    .store--header-overlay .header--overlay-logo.hide-on-desktop {
        display: none;
    }

    .store--header-overlay .header--overlay-logo.hide-on-mobile {
        display: block;
    }

    .header--inner {
        padding: 0 calc(var(--base-padding) * 4);
    }

    .header--navigation-wrapper {
        gap: calc(var(--base-padding) * 1.5);
    }

    .header--menu-promotion-wrapper {
        width: calc(100% - (var(--base-padding) * 4));
    }

    .header--childmenu-items .header--childmenu-items-inner,
    .header--grandchildmenu-items .header--grandchildmenu-items-inner {
        bottom: 0;
        right: 0;
        top: 0;
    }

    .header--second-menu-items {
        margin: calc(var(--base-padding) * 3) 0;
    }
}

/* //
//
// Desktop Only Styles ------------------------------------------------------------- */
@media (min-width: 992px) {
    .header--logo-wrapper:hover {
        opacity: .4;
    }

    .header--menu-item.inactive > a,
    .header--second-menu-item.inactive > a {
        opacity: .4;
    }

    .header--menu-item.hovered > a,
    .header--second-menu-item.hovered > a {
        opacity: 1;
    }

    .header--childmenu-title:hover,
    .header--grandchildmenu-title:hover {
        opacity: .4;
    }
}