/* //
//
// Common Styles ------------------------------------------------------------- */
#shopify-section-header {
    position: relative;
    z-index: 10;
}

.header--inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header--logo-wrapper {
    display: inline-block;
}

.header--overlay-logo {
    display: none;
}

.store--header-overlay .header--logo {
    display: none;
}

.header--navigation-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.header--menu-promotion-wrapper {
    align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    gap: var(--base-padding);
    justify-content: center;
    overflow: hidden;
    width: calc(100% - (var(--base-padding) * 4));
}

.header--menu-promotion-content-wrapper {
    flex-grow: 1;
}

.header--menu-promotion-title {
    font-weight: 600;
    text-transform: uppercase;
}

.header--menu-item-title {
    font-weight: 500;
}

.header--childmenu-title {
    text-decoration: underline;
}

/* //
//
// Mobile Only Styles ------------------------------------------------------------- */
@media (max-width: 540px) {
    .header--inner {
        padding: 0 calc(var(--base-padding) * 2);
    }

    .store--header-overlay .header--overlay-logo.hide-on-desktop {
        display: block;
    }

    .store--header-overlay .header--overlay-logo.hide-on-mobile {
        display: none;
    }

    .header--navigation-wrapper {
        gap: var(--base-padding);
    }

    .header--menu-inner-wrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .header--menu-title-wrapper {
        margin-bottom: calc(var(--base-padding) * 4);
        padding-bottom: calc(var(--base-padding) * 4);
    }

    .header--menu-promotion-wrapper {
        padding: calc(var(--base-padding) * 4) calc(var(--base-padding) * 2);
    }

    .header--menu-promotion-title {
        font-size: 1.2rem;
    }

    .header--menu-items {
        flex-grow: 1;
        margin-top: calc(var(--base-padding) * 4);
        width: 100%;
    }

    .header--menu-item:not(:last-child) {
        margin-bottom: calc(var(--base-padding) * 3);
    }

    .header--menu-item-inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    
    .header--menu-item-title {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .header--second-menu-items {
        margin: calc(var(--base-padding) * 4) 0;
    }

    .header--secondmenu-item:not(:last-child) {
        margin-bottom: var(--base-padding);
    }

    .header--second-menu-item-title {
        font-size: 1.1rem;
    }

    .header--childmenu-title,
    .header--grandchildmenu-title {
        font-size: 1.1rem;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

/* //
//
// Desktop Only Styles ------------------------------------------------------------- */
@media (min-width: 540px) {
    .store--header-overlay .header--overlay-logo.hide-on-desktop {
        display: none;
    }

    .store--header-overlay .header--overlay-logo.hide-on-mobile {
        display: block;
    }
}