/* //
//
// Common Styles ------------------------------------------------------------- */
.impact-text--inner-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.impact-text--title {
    margin-bottom: calc(var(--base-padding) * 1.5);
    text-align: center;
    text-transform: uppercase;
}

.impact-text--subtitle {
    margin-bottom: calc(var(--base-padding) * 3);
    text-align: center;
}

/* //
//
// Mobile Only Styles ------------------------------------------------------------- */
@media (max-width: 540px) {
    
}