/* //
//
// Common Styles ------------------------------------------------------------- */
.large-text-image--item-title {
    text-align: center;
    text-transform: uppercase;
}

.large-text-image--item-title span {
    display: block;
    line-height: 1;
}

.large-text-image--item-image-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 2;
}

.large-text-image--item-additional-content-wrapper {
    display: flex;
}

.large-text-image--additional-content-item-wrapper {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.large-text-image--additional-content-item-content {
    flex-grow: 1;
}

.large-text-image--additional-content-item-wrapper svg path {
    fill: var(--color-primary);
}

.large-text-image--additional-content-item-content-title {
    color: var(--color-primary);
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
}

.large-text-image--additional-content-item-content-main {
    color: var(--color-secondary);
    width: 100%;
}

/* //
//
// Mobile Only Styles ------------------------------------------------------------- */
@media (max-width: 540px) {
    .large-text-image--item-title-wrapper {
        padding: 0 calc(var(--base-padding) * 2);
    }

    .large-text-image--item-image-wrapper {
        margin-bottom: calc(var(--base-padding) * 3);
    }

    .large-text-image--item-additional-content-wrapper {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 calc(var(--base-padding) * 2);
    }

    .large-text-image--additional-content-item-wrapper {
        gap: calc(var(--base-padding) * 2);
    }

    .large-text-image--additional-content-item-wrapper:not(:last-child) {
        margin-bottom: calc(var(--base-padding) * 3);
    }

    .large-text-image--additional-content-item-content-title {
        font-size: 1.2rem;;
    }
}