/* //
//
// Common Styles ------------------------------------------------------------- */
.product--inner {
    overflow-x: hidden;
}

.product--image {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.product--image-indicator-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.product--image-indicator-wrapper .glider-dot {
    all: unset;
    background-color: var(--color-body-text);
    border-radius: 100px;
    height: 8px;
    margin: 0 calc(var(--base-padding) / 2);
    opacity: .4;
    width: 8px;
}

.product--image-indicator-wrapper .glider-dot.active {
    height: 10px;
    opacity: 1;
    width: 10px;
}

.product--title-wrapper {
    border-bottom: 1px solid var(--color-body-border);
}

.product--title,
.product--subtitle {
    text-align: center;
    text-transform: uppercase;
}

.product--title {
    margin-bottom: var(--base-padding);
}

.product--subtitle {
    font-weight: 600;
}

.product--description-wrapper {
    border-bottom: 1px solid var(--color-body-border);
}

.product--option-wrapper fieldset legend {
    font-weight: 600;
    margin-bottom: var(--base-padding);
    text-transform: uppercase;
}

.product--option label {
    border: 1px solid var(--color-body-border);
    border-radius: 5px;
    display: block;
    position: relative;
}

.product--option:not(:last-child) {
    margin-bottom: var(--base-padding);
}

.product--option input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.product--option input[type=radio]:checked + label {
    border: none;
}

.product--price-wrapper {
    align-items: center;
    border-bottom: 1px solid var(--color-body-border);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product--compare-price {
    margin-left: calc(var(--base-padding) * 2);
    opacity: .6;
    text-decoration: line-through;
}

.product--unit-price {
    font-weight: 600;
    min-width: 100%;
    text-transform: uppercase;
}

.product--input-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.product--quantity-input {
    background-color: var(--color-body-border);
}

.product--add-wrapper .primary {
    width: 100%;
}

.product--usp-message {
    font-weight: 600;
    text-align: center;
}

/* //
//
// Mobile Only Styles ------------------------------------------------------------- */
@media (max-width: 768px) {
    .product--images-inner-wrapper {
        margin-bottom: calc(var(--base-padding) * 3);
    }

    .product--form-wrapper {
        margin-top: calc(var(--base-padding) * 4);
        padding: 0 calc(var(--base-padding) * 2);
    }

    .product--title-wrapper {
        padding-bottom: calc(var(--base-padding) * 4);
    }

    .product--title {
        font-size: 2.5rem;
    }

    .product--subtitle {
        font-size: 1.4rem;
    }

    .product--description-wrapper {
        max-height: 300px;
        overflow-y: scroll;
        padding: calc(var(--base-padding) * 4) 0;
    }

    .product--option-wrapper {
        margin: calc(var(--base-padding) * 4) 0;
    }

    .product--option-wrapper fieldset:not(:last-child) {
        margin-bottom: calc(var(--base-padding) * 4);
    }

    .product--option label {
        padding: calc(var(--base-padding) * 2) calc(var(--base-padding) * 1.5);
    }

    .product--price-wrapper {
        padding-bottom: calc(var(--base-padding) * 4);
        margin: calc(var(--base-padding) * 4) 0;
    }

    .product--price {
        font-size: 1.8rem;
    }

    .product--compare-price {
        font-size: 1.4rem;
    }

    .product--unit-price {
        margin-top: var(--base-padding);
    }

    .product--input-wrapper {
        margin: calc(var(--base-padding) * 4) 0;
    }

    .product--quantity-input {
        border-radius: 5px;
        height: 60px;
        margin: 0 var(--base-padding);
        text-align: center;
        width: 60px;
    }

    .product--quantity-adjust-btn {
        height: 40px;
        text-align: center;
        width: 40px;
    }

    .product--usp-messaging-wrapper {
        margin-top: calc(var(--base-padding) * 2);
    }
}