/* //
//
// Common Styles ------------------------------------------------------------- */
.product--inner {
    overflow-x: hidden;
}

.product--image {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.product--images-inner-wrapper {
    margin-bottom: calc(var(--base-padding) * 3);
}

.product--image-indicator-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.product--image-indicator-wrapper .glider-dot {
    all: unset;
    background-color: var(--color-body-text);
    border-radius: 100px;
    height: 8px;
    margin: 0 calc(var(--base-padding) / 2);
    opacity: .4;
    width: 8px;
}

.product--image-indicator-wrapper .glider-dot.active {
    height: 10px;
    opacity: 1;
    width: 10px;
}

.product--title-wrapper {
    border-bottom: 1px solid var(--color-body-border);
}

.product--title,
.product--subtitle {
    text-align: center;
    text-transform: uppercase;
}

.product--title-wrapper {
    padding-bottom: calc(var(--base-padding) * 4);
}

.product--title {
    font-size: 2.5rem;
    margin-bottom: var(--base-padding);
}

.product--subtitle {
    font-size: 1.4rem;
    font-weight: 600;
}

.product--description-wrapper {
    border-bottom: 1px solid var(--color-body-border);
    max-height: 300px;
    overflow-y: scroll;
    padding: calc(var(--base-padding) * 4) 0;
}

.product--option-wrapper {
    margin: calc(var(--base-padding) * 4) 0;
}

.product--option label {
    border: 1px solid var(--color-body-border);
    border-radius: 5px;
    display: block;
    padding: calc(var(--base-padding) * 2) calc(var(--base-padding) * 1.5);
    position: relative;
}

.product--option:not(:last-child) {
    margin-bottom: var(--base-padding);
}

.product--option-wrapper fieldset:not(:last-child) {
    margin-bottom: calc(var(--base-padding) * 4);
}

.product--option input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.product--option input[type=radio]:checked + label {
    border: none;
}

.product--price-wrapper {
    align-items: center;
    border-bottom: 1px solid var(--color-body-border);
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    justify-content: flex-start;
    padding-bottom: calc(var(--base-padding) * 4);
    margin: calc(var(--base-padding) * 4) 0;
}

.product--price {
    font-size: 1.8rem;
}

.product--compare-price {
    margin-left: calc(var(--base-padding) * 2);
    opacity: .6;
    text-decoration: line-through;
}

.product--unit-price {
    font-weight: 600;
    min-width: 100%;
    text-transform: uppercase;
}

.product--add-wrapper .primary {
    width: 100%;
}

.product--compare-price {
    font-size: 1.4rem;
}

.product--usp-messaging-wrapper {
    margin-top: calc(var(--base-padding) * 2);
}

.product--usp-message {
    font-weight: 600;
    text-align: center;
}

/* //
//
// Mobile Only Styles ------------------------------------------------------------- */
@media (max-width: 540px) {
    body.body--with-overlay-header .store--product {
        padding-top: 60px;
    }

    .product--form-wrapper {
        margin-top: calc(var(--base-padding) * 4);
        padding: 0 calc(var(--base-padding) * 2);
    }
}

/* //
//
// Desktop and Tablet Only Styles ------------------------------------------------------------- */
@media (min-width: 540px) {
    .product--inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product--images-wrapper {
        margin-bottom: calc(var(--base-padding) * 4);
        width: 100%;
    }

    .product--image-item{
        aspect-ratio: 1/1 !important;
    }

    .product--form-wrapper {
        width: 100%;
    }
}

/* //
//
// Desktop Only Styles ------------------------------------------------------------- */
@media (min-width: 992px) {
    .product--inner {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        gap: calc(var(--base-padding) * 2);
        justify-content: center;
        padding: calc(var(--base-padding) * 6) calc(var(--base-padding) * 4);
    }

    .product--images-wrapper {
        width: 55%;
    }

    .product--form-wrapper {
        background-color: white;
        border-radius: 5px;
        box-sizing: border-box;
        padding: calc(var(--base-padding) * 4);
        margin-top: calc(var(--base-padding) * 4);
        max-width: 480px;
        width: 40%;
        z-index: 2;
    }
}